		#mainNav {
		  background-color: #212121;
		}	
		#mainNav .navbar-brand {
		  color: white;
		  font-size: 20px;
		}

		#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
		  color: #ffc107;
		}

		#mainNav .navbar-nav  .nav-item .nav-link {
		  font-size: 18px;
		  font-weight: 400;
		  padding: 0.75em;
		  letter-spacing: 1px;
		  color: white;
		  font-family: 'Comfortaa', cursive;
		}

		#mainNav .navbar-nav  .nav-item .nav-link.active{
		  color: #ffc107;
		}

		#mainNav .navbar-nav  .nav-item .nav-link:hover
		{
			background-color: #ffc107;
			color: #212121;
		}
        .fa.fa-navicon {
 		 	color:white; 
		}

		.navbar .dropdown-menu{
			background-color: #212121;
		}

		.navbar .dropdown-menu .dropdown-item{
			color: white;
  			font-family: 'Comfortaa', cursive;
  			font-size: 16px;
		}

		.navbar .dropdown-menu .dropdown-item:hover{
			background-color: #ffc107;
			color: #212121;
  			font-family: 'Comfortaa', cursive;
  			font-size: 16px;
		}
